<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-Rack 8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0">
    <title>IT Store Asset Inventory Management</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Mulish&family=Poppins&family=Russo+One&display=swap" rel="stylesheet">
   


    <link rel ="icon" href="https://assets.tridentindia.com/favicon_32x32_1b05f460d9.png">
    <link rel="stylesheet" href="/css/darkmode.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/qr-reader-details.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
{{>onload}}

<!-- Menu Button for Aside Bar -->
{{>headerNavbar}}

{{#each QrObj}}
<div class="QR-Details">
    <label for="">Host Name</label>
    <p name="">{{this.HostName}}</p>

    <label for="">Serial Number</label>
    <p name="">{{this.SerialNumber}}</p>

    <label for="">Make Model</label>
    <p name="">{{this.MakeModel}}</p>

    <label for="">Working Status</label>
    <p name="">{{this.WorkingStatus}}</p>

    <label for="">Salary Code</label>
    <p name="">{{this.SalaryCode}}</p>

    <label for="">Remarks</label>
    <p name="">{{this.Remarks}}</p>
</div>
{{/each}}
<script src="/js/qr-reader-details.js"></script>
<script src="/js/darkmode.js"></script>
<script src="/js/aside.js"></script>
<script src="/js/header.js"></script>
</body>
</html>

